
@{
    ViewBag.Title = "List";
}
@model List<Cloud.Framework.Mongo.OpenDocumentResponse>

<script src="~/Scripts/vue.min.js"></script>

<div class="row" id="list">
    <div class="panel-group" id="panel-655605">


        <div v-for="node in namespace" class="panel panel-default">
            <div class="panel-heading">
                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#node" href="#{{node}}">>{{node}}</a>
            </div>
            <div id="{{node}}" class="panel-collapse collapse">
                <div class="panel-body">
                    Anim pariatur cliche...
                </div>
                <div class="panel-body">
                    Anim pariatur cliche...
                </div>
                <div class="panel-body">
                    Anim pariatur cliche...
                </div>
                <div class="panel-body">
                    Anim pariatur cliche...
                </div>
                <div class="panel-body">
                    Anim pariatur cliche...
                </div>
                <div class="panel-body">
                    Anim pariatur cliche...
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript" language="javascript">
    $(function () {
        $.ajax({
            url: "http://localhost/api/services/cloudapi/Manager/GetNamespace",
            data: JSON.stringify({}),
            type: "post",
            dataType: "json",
            contentType: "application/json",
            success: function (data) {
                model = data.result.items;
            },
            error: function (e, r) {
                console.log(e, r);
            }
        });

    });
    var model = { namespace: new Array() }

    var vue = new Vue({
        el: "#list",
        date: model
    });
</script>